@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Bai Jamjuree', sans-serif;
  text-decoration: none;
}

:root {
  --Strong-Cyan: hsl(171, 66%, 44%);
  --Light-Blue: hsl(233, 100%, 69%);
  --Dark-Grayish-Blue: hsl(210, 10%, 33%);
  --Grayish-Blue: hsl(201, 11%, 66%);
}

body {
  font-size: 18px;
}

.container {
  padding: 30px 70px;
  background-image: url(./images/bg-header-desktop.png);
  background-size: cover;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .heading1 {
  text-align: center;
  padding: 10px 0;
  width: 80%;
}

.h1 {
  padding-bottom: 15px;
}

h1,
h3 {
  color: var(--Dark-Grayish-Blue);
}

small {
  color: var(--Grayish-Blue);
}
.btn {
  padding: 1rem 1rem;
  border-radius: 3rem;
  font-size: 1rem;
  margin-top: 30px;
  border: none;
  color: white;
  margin-bottom: 5rem;
}

.green {
  background: var(--Strong-Cyan);
  box-shadow: 0 0.5rem 1rem rgba(64, 201, 189, 0.3);
}

.blue {
  background: var(--Light-Blue);
  box-shadow: 0 0.5rem 1rem rgba(108, 82, 201, 0.4);
}

.heading2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 10px 0;
}

.two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 50px 0;
}

.two img {
  height: 100%;
  width: 80%;
}

.two .features div {
  margin-top: 40px;
  width: 65%;
}

@media (max-width: 765px) {
  header {
    background: url(./images/bg-header-mobile.png);
    background-size: cover;
    padding: 40px 10px;
  }

  small {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
  }

  .heading1 {
    width: 100%;
  }

  .heading2 {
    width: 100%;
  }

  .two {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .two .features div {
    width: 76%;
    margin: 60px 12% auto;
    text-align: center;
  }
}

/* three */

.heading3 {
  text-align: center;
  padding: 10px 0;
  width: 80%;
  margin: 2.6rem 2.5rem;
}

.heading3 h1 {
  margin-bottom: 0.3rem;
}

.three {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.three img {
  margin-top: 0;
  margin-bottom: 5rem;
  height: 100%;
  width: 100%;
}

.options h3 {
  font-weight: 600;
  font-size: 27px;
  margin-bottom: 0.7rem;
}

.three .options div {
  width: 76%;
  margin: 10px 12%;
  text-align: center;
}

.icons img {
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.options .icons img {
  height: 25%;
  width: 20%;
}

/* HEADING 4 - comapany logo  */
.heading4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5.5rem 0;
  margin-bottom: 5.5rem;
}

.heading4 img {
  padding: 2.7rem 0;
}

/* Heading 5 */

.heading5 {
  text-align: center;
  padding: 10px 0;
  width: 80%;
  margin: 2rem 2rem;
  /* margin-bottom: 2px; */
}

.heading5 h1 {
  margin-bottom: 1.5rem;
}

.heading5 .clipboard {
  margin-top: 1.5rem;
}

.heading5 button {
  margin-top: 1rem;
}

.heading5 .btn {
  padding: 1.2rem 5rem;
  border: none;
  color: white;
  font-weight: 400;
  text-align: center;
  border-radius: 3rem;
  margin-bottom: 1px;
  margin-left: 0.5rem;
}

/* footer */
#footer-section {
  /* height: 50vh; */
  background-color: rgb(233, 232, 232);
  padding: 40px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo img {
  height: 65px;
  width: 65px;
}

ul {
  margin: 10px 0;
  font-weight: 600;
}

li {
  color: var(--Dark-Grayish-Blue);
  list-style-type: none;
  /* padding: 2px 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-size: 21px;
  margin-top: 2rem;
}

.footer-social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(233, 232, 232);
}

.footer-social img {
  height: 20%;
  width: 20%;
  padding: 0 22px;
  margin-bottom: 4rem;
}

section .clipboard {
  margin-top: 2rem;
  margin-bottom: 4rem;
}
