@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

*{
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: 'Bai Jamjuree', sans-serif;
text-decoration: none;

}

:root{
  --Strong-Cyan: hsl(171, 66%, 44%);
--Light-Blue: hsl(233, 100%, 69%);
--Dark-Grayish-Blue: hsl(210, 10%, 33%);
--Grayish-Blue: hsl(201, 11%, 66%);
}

body{
    font-size: 18px;
}

.container{
    padding: 30px 70px;
    background-image: url(./images/bg-header-desktop.png);
    background-size: cover;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;    
}

header .heading1{
   text-align: center;
   padding: 10px 0;
   width: 80%;
   
}

.h1{
    padding-bottom: 15px;
}

h1, h3{
    color: var(--Dark-Grayish-Blue);
}

small{
    color: var(--Grayish-Blue);
}
 .btn{
    padding: 1rem 1rem;
    border-radius: 3rem;
    font-size: 1rem;
    margin-top: 30px;
    border: none;
    color: white;
    margin-bottom: 5rem;
    
}

.green{
    background: var(--Strong-Cyan);   
    box-shadow: 0 .5rem 1rem rgba(64, 201, 189, 0.3);
}

.blue{
    background: var(--Light-Blue);
    box-shadow: 0 .5rem 1rem rgba(108, 82, 201, 0.4);;
}

 .heading2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 10px 0;
    
    
}

.two{
    display: grid;
   grid-template-columns: repeat(2, 1fr);
   margin: 50px 0;
}

.two img{
    height: 100%;
    width: 80%;
}

.two .features div{
    margin-top: 40px;
    width: 65%;
}

@media (max-width: 765px){
    header{
        background: url(./images/bg-header-mobile.png);
        background-size: cover;
        padding: 40px 10px;
    }

    .heading1{
        width: 100%;
    }
    
    .heading2{
        width: 100%;
        
    }

    .two{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .two .features div{
        width: 76%;
        margin: 60px 12% auto;
        text-align: center;
    }
}

